/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "Ubuntu"; */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*
	take selector , f.e. ".someClass" and generate styles for
	selectors: ".someClass-n1", ".someClass-n2" .... and so on
*/
/* this is specific mixin only for ".feature" */
/*scss for elements with class="{imported file}" and their childs*/
/* line 1, ../sass/_main-header.scss */
.main-header {
  box-shadow: 0 1px 0 0px #cecece;
  height: 234px;
  overflow: hidden;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_main-header.scss */
  .main-header {
    height: 86px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_main-header.scss */
  .main-header {
    box-shadow: none;
    height: 89px;
  }
}

/*hide nav for mobile*/
/* line 17, ../sass/_main-header.scss */
.main-nav {
  display: none;
}
@media screen and (min-width: 787px) {
  /* line 17, ../sass/_main-header.scss */
  .main-nav {
    display: block;
    float: right;
    margin: 35px 4.3% 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 17, ../sass/_main-header.scss */
  .main-nav {
    margin: 36px 4.5% 0 0;
  }
}

@media screen and (min-width: 787px) {
  /* line 31, ../sass/_main-header.scss */
  .main-nav-item {
    display: inline-block;
  }
  /* line 44, ../sass/_main-header.scss */
  .main-nav-item:nth-child(1) {
    margin: 0;
  }
  /* line 44, ../sass/_main-header.scss */
  .main-nav-item:nth-child(2) {
    margin: 0 0 0 24px;
  }
  /* line 44, ../sass/_main-header.scss */
  .main-nav-item:nth-child(3) {
    margin: 0 0 0 33px;
  }
  /* line 44, ../sass/_main-header.scss */
  .main-nav-item:nth-child(4) {
    margin: 0 0 0 36px;
  }
  /* line 44, ../sass/_main-header.scss */
  .main-nav-item:nth-child(5) {
    margin: 0 0 0 35px;
  }
}

@media screen and (min-width: 787px) {
  /* line 52, ../sass/_main-header.scss */
  .main-nav-link {
    color: #414141;
    font: bold 15px Ubuntu, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  /* line 58, ../sass/_main-header.scss */
  .main-nav-link.active-link {
    border-bottom: 2px solid #f36b47;
  }
  /* line 61, ../sass/_main-header.scss */
  .main-nav-link.active-link:after {
    border: 3px solid #f36b47;
    border-left-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 0;
    margin: -1px auto 0;
    transform: rotate(45deg);
    width: 0;
  }
}

/*logo*/
/* line 77, ../sass/_main-header.scss */
.logo {
  color: #4c4c4b;
  display: block;
  font: 72px MyriadPro, Arial, Helvetica, sans-serif;
  margin: 68px auto 0;
  width: 235px;
  text-decoration: none;
}
@media screen and (min-width: 787px) {
  /* line 77, ../sass/_main-header.scss */
  .logo {
    float: left;
    font: bold 36px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 20px 0 0 6%;
    width: 130px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 77, ../sass/_main-header.scss */
  .logo {
    font: 22px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 31px 0 0 2.6%;
  }
}

/*nav toggle button for mobile*/
/* line 100, ../sass/_main-header.scss */
.hamburger, .hamburger:before, .hamburger:after {
  background-color: #f36b47;
  height: 5px;
  float: right;
  margin: 34px 5.3% 0 0;
  width: 45px;
}
/* line 107, ../sass/_main-header.scss */
.hamburger:before, .hamburger:after {
  content: "";
  display: block;
}
/* line 113, ../sass/_main-header.scss */
.hamburger:before {
  margin: -10px 0 0 0;
}
/* line 118, ../sass/_main-header.scss */
.hamburger:after {
  margin: 10px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 100, ../sass/_main-header.scss */
  .hamburger, .hamburger:before, .hamburger:after {
    display: none;
  }
}

/* line 1, ../sass/_slider.scss */
.slider {
  height: 336px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_slider.scss */
  .slider {
    height: 487px;
    margin: 1px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_slider.scss */
  .slider {
    height: 489px;
    margin: 0;
  }
}

/* line 18, ../sass/_slider.scss */
.slide {
  box-sizing: border-box;
  height: 336px;
  overflow: hidden;
  padding: 144px 0 101px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 787px) {
  /* line 18, ../sass/_slider.scss */
  .slide {
    height: 487px;
    padding: 208px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 18, ../sass/_slider.scss */
  .slide {
    height: 489px;
    padding: 209px 0 0 0;
  }
}

/* line 38, ../sass/_slider.scss */
.slide-picture {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 45, ../sass/_slider.scss */
.slide-image {
  width: 100%;
}

/* line 49, ../sass/_slider.scss */
.slide-info {
  background: rgba(0, 0, 0, 0.4);
  color: #d8dbdb;
  font: 18px Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0 auto 11px auto;
  padding: 6px 0 7px;
  transform: translateX(0%);
  width: 53%;
}
@media screen and (min-width: 787px) {
  /* line 49, ../sass/_slider.scss */
  .slide-info {
    font: 26px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0 auto 16px auto;
    padding: 10px 0;
    transform: translateX(0.3%);
    width: 48%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 49, ../sass/_slider.scss */
  .slide-info {
    transform: translateX(0.4%);
    width: 370px;
  }
}
/* line 71, ../sass/_slider.scss */
.slide-info:nth-of-type(2) {
  font-weight: bold;
  width: 67.5%;
}
@media screen and (min-width: 787px) {
  /* line 71, ../sass/_slider.scss */
  .slide-info:nth-of-type(2) {
    display: none;
  }
}
@media screen and (min-width: 1187px) {
  /* line 71, ../sass/_slider.scss */
  .slide-info:nth-of-type(2) {
    display: block;
    letter-spacing: .6px;
    padding: 8px 0 12px;
    text-indent: 15px;
    transform: translateX(0);
    width: 469px;
  }
}
/* line 89, ../sass/_slider.scss */
.slide-info.tablet-only {
  display: none;
}
@media screen and (min-width: 787px) {
  /* line 89, ../sass/_slider.scss */
  .slide-info.tablet-only {
    display: block;
    font: bold 24px Ubuntu, Arial, Helvetica, sans-serif;
    padding: 9px 0 13px;
    text-indent: 11px;
    width: 61%;
    word-spacing: 5px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 89, ../sass/_slider.scss */
  .slide-info.tablet-only {
    display: none;
  }
}

/*slider arrows*/
/* line 108, ../sass/_slider.scss */
.sprite-arrow-left,
.sprite-arrow-right {
  cursor: pointer;
  height: 35px;
  position: absolute;
  top: 148px;
  width: 20px;
}
@media screen and (min-width: 787px) {
  /* line 108, ../sass/_slider.scss */
  .sprite-arrow-left,
  .sprite-arrow-right {
    height: 52px;
    top: 215px;
    width: 30px;
  }
}

/* line 123, ../sass/_slider.scss */
.sprite-arrow-left {
  background-position: -39px -5px;
  left: 4%;
}
@media screen and (min-width: 787px) {
  /* line 123, ../sass/_slider.scss */
  .sprite-arrow-left {
    background-position: -325px -5px;
    left: 2.2%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 123, ../sass/_slider.scss */
  .sprite-arrow-left {
    left: 0;
  }
}
@media screen and (min-width: 1344px) {
  /* line 123, ../sass/_slider.scss */
  .sprite-arrow-left {
    left: 6.5%;
  }
}

/* line 141, ../sass/_slider.scss */
.sprite-arrow-right {
  background-position: -69px -5px;
  right: 3.8%;
}
@media screen and (min-width: 787px) {
  /* line 141, ../sass/_slider.scss */
  .sprite-arrow-right {
    background-position: -365px -5px;
    right: 2.7%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 141, ../sass/_slider.scss */
  .sprite-arrow-right {
    right: 0;
  }
}
@media screen and (min-width: 1344px) {
  /* line 141, ../sass/_slider.scss */
  .sprite-arrow-right {
    right: 6.5%;
  }
}

/* line 1, ../sass/_learn-more.scss */
.learn-more {
  background: #f36b47;
  box-shadow: 0 -1px 0 1px #e99882;
  box-sizing: border-box;
  height: 68px;
  margin: 1px 0 0 0;
  padding: 25px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_learn-more.scss */
  .learn-more {
    box-shadow: none;
    height: 100px;
    letter-spacing: 0;
    margin: 0;
    padding: 38px 0 0 0;
    text-indent: 24px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_learn-more.scss */
  .learn-more {
    height: 99px;
    padding: 36px 0 0 0;
    text-indent: 0;
  }
}

/* line 25, ../sass/_learn-more.scss */
.learn-more-info,
.learn-more-link {
  color: #fffcf8;
}

/* line 30, ../sass/_learn-more.scss */
.learn-more-info {
  font: 14px Ubuntu, Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: .5px;
}
@media screen and (min-width: 787px) {
  /* line 30, ../sass/_learn-more.scss */
  .learn-more-info {
    font: 20px Ubuntu, Arial, Helvetica, sans-serif;
  }
}

/* line 40, ../sass/_learn-more.scss */
.learn-more-link {
  font: bold 15px Ubuntu, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}
@media screen and (min-width: 787px) {
  /* line 40, ../sass/_learn-more.scss */
  .learn-more-link {
    font: bold 23px Ubuntu, Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 1187px) {
  /* line 40, ../sass/_learn-more.scss */
  .learn-more-link {
    border-bottom: 1px solid #fffcf8;
    text-decoration: none;
  }
}

/* line 1, ../sass/_about-uibrush.scss */
.about-uibrush {
  box-sizing: border-box;
  padding: 42px 25px 31px;
  text-align: center;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_about-uibrush.scss */
  .about-uibrush {
    box-sizing: border-box;
    height: 265px;
    padding: 46px 100px 10px 90px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_about-uibrush.scss */
  .about-uibrush {
    height: 224px;
    margin: 0 auto;
    padding: 51px 0 10px 0;
    width: 1170px;
  }
}

/* line 20, ../sass/_about-uibrush.scss */
.about-uibrush-heading {
  border-bottom: 2px solid #f37b5c;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  font: bold 26px Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0 0 15px -1px;
}
@media screen and (min-width: 787px) {
  /* line 20, ../sass/_about-uibrush.scss */
  .about-uibrush-heading {
    border-bottom: none;
    font: bold 30px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: .4px;
    margin: 0 0 33px 3px;
    /*line below heading for tablet and for mobile is different*/
  }
  /* line 35, ../sass/_about-uibrush.scss */
  .about-uibrush-heading:after {
    background: #f37b5c;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    transform: translateX(-1px);
    width: 94px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 20, ../sass/_about-uibrush.scss */
  .about-uibrush-heading {
    font: bold 26px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0 0 33px 1px;
  }
}

/* line 52, ../sass/_about-uibrush.scss */
.about-uibrush-text {
  color: #9d9c9c;
  font: 18px/25px Ubuntu, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 787px) {
  /* line 52, ../sass/_about-uibrush.scss */
  .about-uibrush-text {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
  }
}

/* line 1, ../sass/_features.scss */
.features {
  border-bottom: 8px solid #f36b47;
  border-top: 8px solid #f36b47;
  box-sizing: border-box;
  display: block;
  padding: 0 16% 50px 19%;
  text-align: center;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_features.scss */
  .features {
    border: none;
    padding: 23px 100px 50px 90px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_features.scss */
  .features {
    margin: 0 auto;
    padding: 23px 27px 47px 14px;
    width: 1170px;
  }
}

/* line 21, ../sass/_features.scss */
.feature-heading {
  color: #2e2e2e;
  font: 24px MyriadPro, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 787px) {
  /* line 21, ../sass/_features.scss */
  .feature-heading {
    font: 20px MyriadPro, Arial, Helvetica, sans-serif;
  }
}

/* line 31, ../sass/_features.scss */
.feature-info {
  color: #9d9c9c;
  font: 18px/18px Ubuntu, Arial, Helvetica, sans-serif;
  height: 72px;
  overflow: hidden;
  word-wrap: break-word;
}
@media screen and (min-width: 787px) {
  /* line 31, ../sass/_features.scss */
  .feature-info {
    font: 12px/18px Ubuntu, Arial, Helvetica, sans-serif;
    text-align: left;
  }
}

@media screen and (max-width: 786px) {
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(1) {
    margin: 49px 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .sprite {
    margin: 0 0 0 -6px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .feature-heading {
    margin: 12px 0 10px 3px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(2) {
    margin: 32px 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .sprite {
    margin: 0 0 0 -17px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .feature-heading {
    margin: 6px 0 13px -15px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(3) {
    margin: 43px 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .sprite {
    margin: 0 0 0 -15px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .feature-heading {
    margin: 13px 0 9px -15px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(4) {
    margin: 38px 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .sprite {
    margin: 0 0 0 -3px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .feature-heading {
    margin: 9px 0 13px -15px;
  }
}
@media screen and (min-width: 787px) and (max-width: 1186px) {
  /* line 44, ../sass/_features.scss */
  .feature {
    width: 39%;
    /*change order of features for tablet view*/
    /*feature margins for tablet view*/
    /*
        pay attention that here we set margins in source order
        but earlier we change display order in flex container
    */
  }
  /* line 70, ../sass/_features.scss */
  .feature:nth-of-type(1) {
    order: 1;
  }
  /* line 70, ../sass/_features.scss */
  .feature:nth-of-type(2) {
    order: 3;
  }
  /* line 70, ../sass/_features.scss */
  .feature:nth-of-type(3) {
    order: 4;
  }
  /* line 70, ../sass/_features.scss */
  .feature:nth-of-type(4) {
    order: 2;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(1) {
    margin: 0 0 61px 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .sprite {
    margin: 0 0 0 20px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .feature-heading {
    margin: 11px 0 15px 17px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(2) {
    margin: 0 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .sprite {
    margin: 0 0 0 5px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .feature-heading {
    margin: 9px 0 15px 0;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(3) {
    margin: 0 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .sprite {
    margin: -1px 0 0 -6px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .feature-heading {
    margin: 8px 0 15px 0;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(4) {
    margin: 0 0 61px 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .sprite {
    margin: 0 0 0 -4px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .feature-heading {
    margin: 10px 0 15px -13px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 44, ../sass/_features.scss */
  .feature {
    width: 225px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(1) {
    margin: 0 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .sprite {
    margin: 0 0 0 18px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(1) .feature-heading {
    margin: 11px 0 15px 14px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(2) {
    margin: 0 0 0 7px;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .sprite {
    margin: 2px 0 0 7px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(2) .feature-heading {
    margin: 9px 0 15px 0;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(3) {
    margin: 0 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .sprite {
    margin: 1px 0 0 -1px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(3) .feature-heading {
    margin: 8px 0 15px 3px;
  }
  /* line 50, ../sass/_mixins.scss */
  .feature:nth-of-type(4) {
    margin: 0 0 0 0;
  }
  /* line 53, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .sprite {
    margin: 0 0 0 -3px;
  }
  /* line 57, ../sass/_mixins.scss */
  .feature:nth-of-type(4) .feature-heading {
    margin: 10px 0 15px -12px;
  }
}

/* line 1, ../sass/_projects.scss */
.projects {
  box-sizing: border-box;
  padding: 0 0 114px 0;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_projects.scss */
  .projects {
    padding: 0 102px 104px 89px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_projects.scss */
  .projects {
    margin: 0 auto;
    padding: 0 10px 106px 9px;
    width: 1170px;
  }
}

/* line 16, ../sass/_projects.scss */
.projects-heading {
  color: #484848;
  font: bold 26px Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: .3px;
  margin: 77px 0 20px -2px;
  padding: 0 0 1px 0;
  text-align: center;
}
/* line 24, ../sass/_projects.scss */
.projects-heading:after {
  background: #f37b5c;
  content: "";
  display: block;
  height: 2px;
  margin: 1px auto 0;
  width: 189px;
}
@media screen and (min-width: 787px) {
  /* line 16, ../sass/_projects.scss */
  .projects-heading {
    border: none;
    font: bold 30px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 20px 0 13px 14px;
    padding: 0;
  }
  /* line 39, ../sass/_projects.scss */
  .projects-heading:after {
    background: #f37b5c;
    content: "";
    display: block;
    height: 2px;
    margin: 4px auto 0;
    transform: translateX(1px);
  }
}
@media screen and (min-width: 1187px) {
  /* line 16, ../sass/_projects.scss */
  .projects-heading {
    font: bold 26px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0 0 13px -1px;
  }
  /* line 53, ../sass/_projects.scss */
  .projects-heading:after {
    margin: 1px auto 0;
  }
}

/* line 59, ../sass/_projects.scss */
.projects-about {
  color: #9d9c9c;
  font: 18px/25px MyriadPro, Arial, Helvetica, sans-serif;
  height: 50px;
  margin: 0 0 0 11%;
  overflow: hidden;
  text-align: center;
  width: 76.8%;
  word-wrap: break-word;
}
@media screen and (min-width: 787px) {
  /* line 59, ../sass/_projects.scss */
  .projects-about {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 59, ../sass/_projects.scss */
  .projects-about {
    margin: 20px auto 25px;
    padding: 0 1px 0 0;
    width: 676px;
  }
}

/*  .project-item   */
/* line 4, ../sass/_project-item.scss */
.project-item {
  /*Mobile*/
  display: block;
  margin: 0 auto;
  padding-right: 11px;
  min-width: 250px;
  width: 52.2%;
  /*Tablet*/
  /*Desktop*/
}
@media screen and (min-width: 787px) and (max-width: 1186px) {
  /* line 4, ../sass/_project-item.scss */
  .project-item {
    padding: 0;
    width: 43.17%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 4, ../sass/_project-item.scss */
  .project-item {
    width: 250px;
  }
}

/* line 31, ../sass/_mixins.scss */
.project-item-n1 {
  margin-top: 78px;
}

/* line 31, ../sass/_mixins.scss */
.project-item-n2 {
  margin-top: 58px;
}

/* line 31, ../sass/_mixins.scss */
.project-item-n3 {
  margin-top: 68px;
}

/* line 31, ../sass/_mixins.scss */
.project-item-n4 {
  margin-top: 67px;
}

/* Tablet */
@media screen and (min-width: 787px) and (max-width: 1186px) {
  /* line 31, ../sass/_mixins.scss */
  .project-item-n1 {
    margin: 38px 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n2 {
    margin: 38px 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n3 {
    margin: 49px 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n4 {
    margin: 49px -1px 0 0;
  }
}
/* Desktop */
@media screen and (min-width: 1187px) {
  /* line 31, ../sass/_mixins.scss */
  .project-item-n1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n2 {
    margin: 0 0 0 -3px;
    padding: 0 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n3 {
    margin: 0 0 0 -3px;
    padding: 0 0 0 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-item-n4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
/* line 85, ../sass/_projects.scss */
.project-link {
  display: block;
}

/* line 89, ../sass/_projects.scss */
.project-link-figure {
  background: #eeeeee;
  border: 1px solid #e0dddd;
  display: inline-block;
  width: 100%;
}

/* line 96, ../sass/_projects.scss */
.project-link-figure-image {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/*  .project-link-figure-heading  */
/* line 4, ../sass/_project-link-figure-heading.scss */
.project-link-figure-heading {
  /*mobile*/
  border-bottom: 1px solid #d5d4d3;
  color: #fe5c32;
  font: 24px/18px Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  /**tablet*/
  /*desktop*/
}
@media screen and (min-width: 787px) {
  /* line 4, ../sass/_project-link-figure-heading.scss */
  .project-link-figure-heading {
    font: bold 16px/18px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 4, ../sass/_project-link-figure-heading.scss */
  .project-link-figure-heading {
    text-align: right;
  }
}

/*mobile*/
/* line 31, ../sass/_mixins.scss */
.project-link-figure-heading-n1 {
  padding: 1px 0 6px;
  text-indent: 10px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-heading-n2 {
  padding: 2px 0 5px;
  text-indent: 7px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-heading-n3 {
  padding: 6px 0 1px;
  text-indent: 3px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-heading-n4 {
  letter-spacing: 0.3px;
  padding: 7px 0 0;
  text-indent: 10px;
  word-spacing: -4px;
}

/*tablet*/
@media screen and (min-width: 787px) {
  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n1 {
    padding: 4px 0 3px;
    text-indent: 7px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n2 {
    padding: 4px 0 3px;
    text-indent: -5px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n3 {
    padding: 4px 0 3px;
    text-indent: 7px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n4 {
    letter-spacing: 0;
    padding: 4px 0 3px;
    text-indent: -13px;
    word-spacing: 0;
  }
}
/*desktop*/
@media screen and (min-width: 1187px) {
  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n1 {
    padding: 3px 17px 4px 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n2 {
    padding: 4px 18px 3px 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n3 {
    padding: 4px 11px 3px 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-heading-n4 {
    padding: 4px 20px 3px 0;
  }
}
/*  .project-link-figure-info  */
/* line 4, ../sass/_project-link-figure-info.scss */
.project-link-figure-info {
  /*mobile*/
  color: #605f5f;
  font: 18px/18px Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: -.6px;
  padding: 3px 0 10px;
  text-align: center;
  /*tablet*/
  /*desktop*/
}
@media screen and (min-width: 787px) {
  /* line 4, ../sass/_project-link-figure-info.scss */
  .project-link-figure-info {
    font: 12px/18px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    padding: 6px 0 7px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 4, ../sass/_project-link-figure-info.scss */
  .project-link-figure-info {
    text-align: right;
  }
}

/*mobile*/
/* line 31, ../sass/_mixins.scss */
.project-link-figure-info-n1 {
  padding-left: 14px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-info-n2 {
  padding-left: 16px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-info-n3 {
  padding-left: 9px;
}

/* line 31, ../sass/_mixins.scss */
.project-link-figure-info-n4 {
  padding-left: 1px;
}

/*tablet*/
@media screen and (min-width: 787px) {
  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n1 {
    padding-left: 14px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n2 {
    padding-left: 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n3 {
    padding-left: 9px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n4 {
    padding-left: 0;
    text-indent: -10px;
  }
}
/*desktop*/
@media screen and (min-width: 1187px) {
  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n1 {
    padding: 6px 17px 7px 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n2 {
    padding: 6px 20px 7px 0px;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n3 {
    padding: 6px 15px 7px 0;
  }

  /* line 31, ../sass/_mixins.scss */
  .project-link-figure-info-n4 {
    padding: 6px 20px 7px 0;
  }
}
/* line 1, ../sass/_talk-to-us.scss */
.talk-to-us {
  background: #7a7a7a;
  box-sizing: border-box;
  color: #fff;
  padding: 78px 20px 81px;
  text-align: center;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_talk-to-us.scss */
  .talk-to-us {
    padding: 78px 100px 63px 90px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_talk-to-us.scss */
  .talk-to-us {
    padding: 78px 0 122px 0;
  }
}

/* line 17, ../sass/_talk-to-us.scss */
.talk-to-us-heading {
  font: 60px Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0 0 40px;
  text-indent: 1px;
}
@media screen and (min-width: 787px) {
  /* line 17, ../sass/_talk-to-us.scss */
  .talk-to-us-heading {
    margin: 0 0 30px;
    text-indent: 14px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 17, ../sass/_talk-to-us.scss */
  .talk-to-us-heading {
    margin: 0 auto 21px auto;
    text-indent: 2px;
    width: 1170px;
  }
}

/* line 34, ../sass/_talk-to-us.scss */
.talk-to-us-info {
  font: 24px/25px MyriadPro, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 787px) {
  /* line 34, ../sass/_talk-to-us.scss */
  .talk-to-us-info {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 1187px) {
  /* line 34, ../sass/_talk-to-us.scss */
  .talk-to-us-info {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 110px;
    width: 1170px;
  }
}

/*---contacts---*/
@media screen and (min-width: 787px) {
  /* line 2, ../sass/_contacts.scss */
  .contacts {
    padding: 0 100px 0 90px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 2, ../sass/_contacts.scss */
  .contacts {
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 1170px;
  }
}

/*contacts contact us*/
/* line 2, ../sass/_contacts-contact-us.scss */
.contact-us {
  box-sizing: border-box;
  padding: 54px 20px 112px;
  text-align: center;
}
@media screen and (min-width: 787px) {
  /* line 2, ../sass/_contacts-contact-us.scss */
  .contact-us {
    padding: 75px 0 27px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 2, ../sass/_contacts-contact-us.scss */
  .contact-us {
    padding: 107px 0 49px;
  }
}

/* line 16, ../sass/_contacts-contact-us.scss */
.contact-us-heading {
  color: #484848;
  font: 48px Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: -1.5px;
  padding: 0 0 1px 0;
  text-indent: -3px;
  word-spacing: -2px;
}
/* line 24, ../sass/_contacts-contact-us.scss */
.contact-us-heading:after {
  background: #f37b5c;
  content: "";
  display: block;
  height: 2px;
  margin: 1px auto 0;
  width: 215px;
}
@media screen and (min-width: 787px) {
  /* line 16, ../sass/_contacts-contact-us.scss */
  .contact-us-heading {
    font: bold 30px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    word-spacing: 0;
    text-indent: 5px;
  }
  /* line 39, ../sass/_contacts-contact-us.scss */
  .contact-us-heading:after {
    margin: 7px auto 0;
    transform: translateX(-1px);
    width: 127px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 16, ../sass/_contacts-contact-us.scss */
  .contact-us-heading {
    font: bold 26px Ubuntu, Arial, Helvetica, sans-serif;
  }
  /* line 49, ../sass/_contacts-contact-us.scss */
  .contact-us-heading:after {
    margin: 0 auto;
    transform: translateX(4px);
    width: 127px;
  }
}

/* line 57, ../sass/_contacts-contact-us.scss */
.contact-us-info {
  color: #9d9c9c;
  font: 25px/25px Ubuntu, Arial, Helvetica, sans-serif;
  margin: 57px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 57, ../sass/_contacts-contact-us.scss */
  .contact-us-info {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 28px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 57, ../sass/_contacts-contact-us.scss */
  .contact-us-info {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
    margin: 17px 0 0 0;
  }
}

@media screen and (min-width: 787px) {
  /* line 16, ../sass/_contacts.scss */
  .contacts-map {
    padding: 0 6px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 16, ../sass/_contacts.scss */
  .contacts-map {
    padding: 4px 0 0 1px;
  }
}

/* line 26, ../sass/_contacts.scss */
.contacts-map-img {
  width: 100%;
}

/* line 1, ../sass/_contacts-details.scss */
.contacts-details {
  padding: 65px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_contacts-details.scss */
  .contacts-details {
    padding: 75px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_contacts-details.scss */
  .contacts-details {
    padding: 0 0 0 0;
  }
}

/* line 13, ../sass/_contacts-details.scss */
.contacts-details-heading {
  color: #484848;
  display: block;
  font: 48px Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: -1.5px;
  margin: 0 auto 0;
  text-align: center;
  text-indent: 1px;
  width: 73%;
  word-spacing: -3px;
}
/* line 24, ../sass/_contacts-details.scss */
.contacts-details-heading:after {
  background: #f37b5c;
  content: "";
  display: block;
  height: 2px;
  margin: 6px auto 0;
  width: 62%;
}
@media screen and (min-width: 787px) {
  /* line 13, ../sass/_contacts-details.scss */
  .contacts-details-heading {
    font: bold 30px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    padding: 0 0 0 5px;
    width: 100%;
    word-spacing: 2px;
  }
  /* line 40, ../sass/_contacts-details.scss */
  .contacts-details-heading:after {
    display: none;
  }
}
@media screen and (min-width: 1187px) {
  /* line 13, ../sass/_contacts-details.scss */
  .contacts-details-heading {
    font: 20px Ubuntu, Arial, Helvetica, sans-serif;
    text-align: left;
  }
}

/* line 51, ../sass/_contacts-details.scss */
.contacts-details-contact {
  align-items: center;
  color: #9d9c9c;
  display: flex;
  flex-wrap: wrap;
  font: 30px/25px Ubuntu, Arial, Helvetica, sans-serif;
  margin-left: 11%;
  letter-spacing: -1.3px;
  width: 68%;
}
/* line 61, ../sass/_contacts-details.scss */
.contacts-details-contact .sprite {
  align-content: center;
  margin-right: 42px;
  width: 28px;
}
/* line 74, ../sass/_contacts-details.scss */
.contacts-details-contact:nth-of-type(1) {
  margin-top: 82px;
}
/* line 74, ../sass/_contacts-details.scss */
.contacts-details-contact:nth-of-type(2) {
  margin-top: 45px;
}
/* line 74, ../sass/_contacts-details.scss */
.contacts-details-contact:nth-of-type(3) {
  margin-top: 49px;
}
/* line 80, ../sass/_contacts-details.scss */
.contacts-details-contact:nth-of-type(3) sup {
  vertical-align: super;
  font-size: 20px;
}
/* line 85, ../sass/_contacts-details.scss */
.contacts-details-contact:nth-of-type(3) span:nth-of-type(2) {
  max-width: 255px;
  min-width: 78%;
}
@media screen and (min-width: 787px) {
  /* line 51, ../sass/_contacts-details.scss */
  .contacts-details-contact {
    font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif;
    letter-spacing: 0;
  }
  /* line 94, ../sass/_contacts-details.scss */
  .contacts-details-contact .sprite {
    margin-right: 23px;
    transform: scale(0.6);
  }
  /* line 99, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(1) {
    margin: 12px 0 0 27px;
    order: 2;
    width: 50%;
  }
  /* line 104, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(1) .sprite {
    margin-right: 19px;
  }
  /* line 109, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(2) {
    margin: 15px 40px 0 0;
    order: 3;
    width: 195px;
  }
  /* line 114, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(2) .sprite {
    margin: -3px 19px 0 4px;
    transform: scale(0.7);
  }
  /* line 120, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(3) {
    flex-wrap: nowrap;
    margin: 39px auto 0;
    order: 1;
    padding: 0 27% 0 30%;
  }
  /* line 126, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(3) .sprite {
    align-self: flex-start;
  }
  /* line 130, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(3) sup {
    font-size: 10px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 137, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(1) {
    margin: 12px 0 0 42px;
    order: 1;
  }
  /* line 142, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(2) {
    margin: 9px 40px 0 41px;
    order: 2;
  }
  /* line 147, ../sass/_contacts-details.scss */
  .contacts-details-contact:nth-of-type(3) {
    margin: 9px 50px 0 46px;
    order: 3;
    padding: 0;
    width: 255px;
  }
}

/*contacts form*/
/* line 2, ../sass/_contacts-form.scss */
.contacts-form {
  margin: 30px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 2, ../sass/_contacts-form.scss */
  .contacts-form {
    margin: 21px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 2, ../sass/_contacts-form.scss */
  .contacts-form {
    margin: 14px 0 0 26px;
  }
}

/* line 14, ../sass/_contacts-form.scss */
.contacts-form-input {
  background: #f0f0f0;
  border: 1px solid #cac6c6;
  border-radius: 3px;
  box-sizing: border-box;
  color: #9d9c9c;
  display: block;
  font: 16px/25px Ubuntu, Arial, Helvetica, sans-serif, sans-serif;
  margin: 0 0 7px 4.1%;
  outline: none;
  padding: 13px  15px 12px;
  width: 93.9%;
}
/* line 27, ../sass/_contacts-form.scss */
.contacts-form-input:nth-child(3) {
  height: 171px;
}
@media screen and (min-width: 787px) {
  /* line 14, ../sass/_contacts-form.scss */
  .contacts-form-input {
    margin: 0 0 7px 4.4%;
    width: 91.3%;
  }
}
@media screen and (min-width: 1187px) {
  /* line 14, ../sass/_contacts-form.scss */
  .contacts-form-input {
    width: 329px;
  }
  /* line 39, ../sass/_contacts-form.scss */
  .contacts-form-input:nth-child(3) {
    width: 527px;
  }
}

/* line 45, ../sass/_contacts-form.scss */
.contacts-form-submit {
  background: #f27554;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font: 20px MyriadPro, Arial, Helvetica, sans-serif;
  outline: none;
  padding: 7px 0 13px 0;
  margin: 22px auto 0;
  max-width: 314px;
  min-width: 60px;
  transform: translateX(-0.3%);
  text-indent: -2px;
  width: 65.4%;
}
@media screen and (min-width: 787px) {
  /* line 45, ../sass/_contacts-form.scss */
  .contacts-form-submit {
    padding: 10px 0 10px 0;
    margin: 27px auto 0;
    max-width: none;
    transform: translateX(1px);
    text-indent: 8px;
    width: 393px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 45, ../sass/_contacts-form.scss */
  .contacts-form-submit {
    padding: 10px 0 10px 0;
    margin: 12px 0 0 23px;
    width: 128px;
  }
}

/* line 1, ../sass/_footer.scss */
.footer {
  margin: 150px 0 0 0;
}
@media screen and (min-width: 787px) {
  /* line 1, ../sass/_footer.scss */
  .footer {
    margin: 129px 0 0 0;
  }
}
@media screen and (min-width: 1187px) {
  /* line 1, ../sass/_footer.scss */
  .footer {
    margin: 215px 0 0 0;
  }
}

/* line 13, ../sass/_footer.scss */
.footer-info {
  background: #f37b5c;
  box-sizing: border-box;
  color: #fef8f6;
  font: 18px/18px MyriadPro, Arial, Helvetica, sans-serif;
  height: 56px;
  margin-bottom: 95px;
  padding: 18px 0 0 0;
  text-align: center;
}
@media screen and (min-width: 787px) {
  /* line 13, ../sass/_footer.scss */
  .footer-info {
    font: 14px/18px MyriadPro, Arial, Helvetica, sans-serif;
    margin-bottom: 55px;
    padding: 17px 0 0 0;
    text-indent: 6px;
  }
}
@media screen and (min-width: 1187px) {
  /* line 13, ../sass/_footer.scss */
  .footer-info {
    margin-bottom: 72px;
    padding: 18px 0 0 0;
    text-indent: 0;
  }
}

/*sprites*/
/* line 1, ../sass/_sprites.scss */
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

/* line 7, ../sass/_sprites.scss */
.sprite-arrow {
  background-position: -5px -5px;
  height: 27px;
  width: 24px;
}

/* line 13, ../sass/_sprites.scss */
.sprite-code {
  background-position: -99px -5px;
  height: 25px;
  width: 34px;
}

/* line 19, ../sass/_sprites.scss */
.sprite-mail {
  background-position: -142px -4px;
  height: 25px;
  transform: translateY(-4px);
  width: 28px;
}

/* line 26, ../sass/_sprites.scss */
.sprite-mark {
  background-position: -182px -5px;
  height: 33px;
  width: 24px;
}

/* line 32, ../sass/_sprites.scss */
.sprite-menu {
  background-position: -215px -5px;
  height: 25px;
  width: 33px;
}

/* line 38, ../sass/_sprites.scss */
.sprite-phone {
  background-position: -258px -5px;
  height: 26px;
  width: 24px;
}

/* line 44, ../sass/_sprites.scss */
.sprite-phone2 {
  background-position: -290px -2px;
  height: 32px;
  width: 28px;
}

/*helper classes*/
/* line 1, ../sass/_helperClasses.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

/* line 11, ../sass/_helperClasses.scss */
.color-orange {
  color: #f36e49;
}

@media screen and (min-width: 1187px) {
  /* line 15, ../sass/_helperClasses.scss */
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1187px) {
  /* line 24, ../sass/_helperClasses.scss */
  .column:nth-of-type(1) {
    margin: 0 24px 0 0;
    width: 569px;
  }
  /* line 29, ../sass/_helperClasses.scss */
  .column:nth-of-type(2) {
    width: 577px;
  }
}

@media screen and (min-width: 787px) {
  /* line 35, ../sass/_helperClasses.scss */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* line 43, ../sass/_helperClasses.scss */
.tablet-only {
  display: none;
}
