@import url(fonts.css);
/* line 6, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 10, ../sass/styles.scss */
.main-header {
  box-shadow: 0 1px 0 0px #cecece;
  height: 234px;
  overflow: hidden;
}

/*hide nav for mobile*/
/* line 17, ../sass/styles.scss */
.main-nav {
  display: none;
}

/*logo*/
/* line 22, ../sass/styles.scss */
.logo {
  color: #4c4c4b;
  display: block;
  font: 72px MyriadPro, sans-serif;
  margin: 68px 0 0 50%;
  width: 235px;
  text-decoration: none;
  transform: translateX(-50%);
}

/*nav toggle button for mobile*/
/* line 34, ../sass/styles.scss */
.hamburger, .hamburger:before, .hamburger:after {
  background-color: #f36b47;
  height: 5px;
  position: absolute;
  right: 5.3%;
  top: 34px;
  width: 45px;
}
/* line 42, ../sass/styles.scss */
.hamburger:before, .hamburger:after {
  content: "";
  display: block;
  right: 0;
}
/* line 49, ../sass/styles.scss */
.hamburger:before {
  top: -10px;
}
/* line 54, ../sass/styles.scss */
.hamburger:after {
  top: 10px;
}

/*slider*/
/* line 62, ../sass/styles.scss */
.slider {
  position: relative;
}

/* line 66, ../sass/styles.scss */
.slide {
  background: url(../img/mobile/slide-1.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 144px 0 101px 0;
  text-align: center;
  width: 100%;
}

/* line 75, ../sass/styles.scss */
.slide-info {
  background: rgba(0, 0, 0, 0.4);
  color: #d8dbdb;
  font: 18px Ubuntu, sans-serif;
  margin: 0 auto 11px auto;
  padding: 6px 0 7px;
  width: 53%;
}
/* line 83, ../sass/styles.scss */
.slide-info:nth-of-type(2) {
  font-weight: bold;
  width: 67.5%;
}

/*slider arrows*/
/* line 90, ../sass/styles.scss */
.sprite-arrow-left,
.sprite-arrow-right {
  cursor: pointer;
  height: 35px;
  position: absolute;
  top: 148px;
  width: 20px;
}

/* line 99, ../sass/styles.scss */
.sprite-arrow-left {
  background-position: -39px -5px;
  left: 4%;
}

/* line 104, ../sass/styles.scss */
.sprite-arrow-right {
  background-position: -69px -5px;
  right: 3.8%;
}

/*section immediatly below the slider*/
/* line 110, ../sass/styles.scss */
.below-slider {
  background: #f36b47;
  box-shadow: 0 -1px 0 1px #e99882;
  box-sizing: border-box;
  height: 68px;
  margin: 1px 0 0 0;
  padding: 25px 0 0 0;
}

/* line 119, ../sass/styles.scss */
.below-slider-info,
.below-slider-link {
  color: #fffcf8;
  font: 14px Ubuntu, sans-serif;
}

/* line 125, ../sass/styles.scss */
.below-slider-info {
  text-align: center;
  letter-spacing: .5px;
}

/* line 130, ../sass/styles.scss */
.below-slider-link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}

/*about UIBrush*/
/* line 138, ../sass/styles.scss */
.about-uibrush {
  box-sizing: border-box;
  padding: 42px 25px 31px;
  text-align: center;
}

/* line 144, ../sass/styles.scss */
.about-uibrush-heading {
  border-bottom: 2px solid #f37b5c;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  font: bold 26px Ubuntu, sans-serif;
  margin: 0 0 15px -1px;
}

/* line 153, ../sass/styles.scss */
.about-uibrush-text {
  color: #9d9c9c;
  font: 18px/25px Ubuntu, sans-serif;
}

/*features*/
/* line 159, ../sass/styles.scss */
.features {
  border-bottom: 8px solid #f36b47;
  border-top: 8px solid #f36b47;
  box-sizing: border-box;
  display: block;
  padding: 0 16% 50px 19%;
  text-align: center;
}

/* line 168, ../sass/styles.scss */
.feature-heading {
  color: #2e2e2e;
  font: 24px MyriadPro, sans-serif;
}

/* line 173, ../sass/styles.scss */
.feature-info {
  color: #9d9c9c;
  font: 18px/18px Ubuntu, sans-serif;
  height: 72px;
  overflow: hidden;
  word-wrap: break-word;
}

/* line 196, ../sass/styles.scss */
.feature:nth-of-type(1) {
  margin: 49px 0 0 0;
}
/* line 199, ../sass/styles.scss */
.feature:nth-of-type(1) .sprite {
  margin: 0 0 0 -6px;
}
/* line 203, ../sass/styles.scss */
.feature:nth-of-type(1) .feature-heading {
  margin: 12px 0 10px 3px;
}
/* line 196, ../sass/styles.scss */
.feature:nth-of-type(2) {
  margin: 32px 0 0 0;
}
/* line 199, ../sass/styles.scss */
.feature:nth-of-type(2) .sprite {
  margin: 0 0 0 -17px;
}
/* line 203, ../sass/styles.scss */
.feature:nth-of-type(2) .feature-heading {
  margin: 6px 0 13px -15px;
}
/* line 196, ../sass/styles.scss */
.feature:nth-of-type(3) {
  margin: 43px 0 0 0;
}
/* line 199, ../sass/styles.scss */
.feature:nth-of-type(3) .sprite {
  margin: 0 0 0 -15px;
}
/* line 203, ../sass/styles.scss */
.feature:nth-of-type(3) .feature-heading {
  margin: 13px 0 9px -15px;
}
/* line 196, ../sass/styles.scss */
.feature:nth-of-type(4) {
  margin: 38px 0 0 0;
}
/* line 199, ../sass/styles.scss */
.feature:nth-of-type(4) .sprite {
  margin: 0 0 0 -3px;
}
/* line 203, ../sass/styles.scss */
.feature:nth-of-type(4) .feature-heading {
  margin: 9px 0 13px -15px;
}

/*recent projects*/
/* line 212, ../sass/styles.scss */
.projects {
  box-sizing: border-box;
  padding: 0 0 114px 0;
}

/* line 217, ../sass/styles.scss */
.projects-heading {
  border-bottom: 2px solid #f37b5c;
  color: #484848;
  display: inline-block;
  font: bold 26px Ubuntu, sans-serif;
  letter-spacing: .3px;
  margin: 77px 0 20px 49.8%;
  padding: 0 0 1px 0;
  text-align: center;
  transform: translateX(-50%);
}

/* line 229, ../sass/styles.scss */
.projects-about {
  color: #9d9c9c;
  font: 18px/25px MyriadPro, sans-serif;
  height: 50px;
  margin: 0 0 0 11%;
  overflow: hidden;
  text-align: center;
  width: 76.8%;
  word-wrap: break-word;
}

/* line 240, ../sass/styles.scss */
.project-link {
  display: block;
  margin-left: 48.9%;
  min-width: 250px;
  transform: translateX(-50%);
  width: 52.2%;
}
/* line 257, ../sass/styles.scss */
.project-link:nth-of-type(1) {
  margin-top: 79px;
}
/* line 257, ../sass/styles.scss */
.project-link:nth-of-type(2) {
  margin-top: 58px;
}
/* line 257, ../sass/styles.scss */
.project-link:nth-of-type(3) {
  margin-top: 68px;
}
/* line 257, ../sass/styles.scss */
.project-link:nth-of-type(4) {
  margin-top: 67px;
}

/* line 264, ../sass/styles.scss */
.project-link-figure {
  background: #eeeeee;
  border: 1px solid #e0dddd;
  display: inline-block;
  width: 100%;
}

/* line 271, ../sass/styles.scss */
.project-link-figure-image {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* line 277, ../sass/styles.scss */
.project-link-figure-heading {
  border-bottom: 1px solid #d5d4d3;
  color: #fe5c32;
  font: 24px/18px Ubuntu, sans-serif;
  letter-spacing: -1px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
/* line 298, ../sass/styles.scss */
.project-link:nth-of-type(1) .project-link-figure-heading {
  padding: 1px 0 6px;
  text-indent: 10px;
}
/* line 298, ../sass/styles.scss */
.project-link:nth-of-type(2) .project-link-figure-heading {
  padding: 2px 0 5px;
  text-indent: 7px;
}
/* line 298, ../sass/styles.scss */
.project-link:nth-of-type(3) .project-link-figure-heading {
  padding: 6px 0 1px;
  text-indent: 3px;
}
/* line 298, ../sass/styles.scss */
.project-link:nth-of-type(4) .project-link-figure-heading {
  letter-spacing: 0.3px;
  padding: 7px 0 0;
  text-indent: 10px;
  word-spacing: -4px;
}

/* line 305, ../sass/styles.scss */
.project-link-figure-info {
  color: #605f5f;
  font: 18px/18px Ubuntu, sans-serif;
  letter-spacing: -.6px;
  padding: 3px 0 10px;
  text-align: center;
}
/* line 320, ../sass/styles.scss */
.project-link:nth-of-type(1) .project-link-figure-info {
  padding-left: 14px;
}
/* line 320, ../sass/styles.scss */
.project-link:nth-of-type(2) .project-link-figure-info {
  padding-left: 16px;
}
/* line 320, ../sass/styles.scss */
.project-link:nth-of-type(3) .project-link-figure-info {
  padding-left: 9px;
}
/* line 320, ../sass/styles.scss */
.project-link:nth-of-type(4) .project-link-figure-info {
  padding-left: 1px;
}

/*talk to us*/
/* line 327, ../sass/styles.scss */
.talk-to-us {
  background: #7a7a7a;
  box-sizing: border-box;
  color: #fff;
  padding: 78px 20px 81px;
  text-align: center;
}

/* line 335, ../sass/styles.scss */
.talk-to-us-heading {
  font: 60px Ubuntu, sans-serif;
  margin: 0 0 40px;
  text-indent: 1px;
}

/* line 341, ../sass/styles.scss */
.talk-to-us-info {
  font: 24px/25px MyriadPro, sans-serif;
}

/*---feedback---*/
/*feedback  contact us*/
/* line 347, ../sass/styles.scss */
.contact-us {
  box-sizing: border-box;
  padding: 54px 20px 113px;
  text-align: center;
}

/* line 353, ../sass/styles.scss */
.contact-us-heading {
  color: #484848;
  border-bottom: 2px solid #f37b5c;
  display: inline-block;
  font: 48px Ubuntu, sans-serif;
  letter-spacing: -1.5px;
  padding: 0 0 1px 0;
  text-indent: -3px;
  word-spacing: -2px;
}

/* line 364, ../sass/styles.scss */
.contact-us-info {
  color: #9d9c9c;
  font: 25px/25px Ubuntu, sans-serif;
  margin: 57px 0 0 0;
}

/* line 370, ../sass/styles.scss */
.contact-us-map-img {
  width: 100%;
}

/* line 374, ../sass/styles.scss */
.contact-us-details {
  padding: 65px 0 0 0;
}

/* line 378, ../sass/styles.scss */
.contact-us-details-heading {
  color: #484848;
  display: block;
  font: 48px Ubuntu, sans-serif;
  letter-spacing: -1.5px;
  margin: 0 auto 0;
  position: relative;
  text-align: center;
  text-indent: 1px;
  width: 73%;
  word-spacing: -3px;
}
/* line 390, ../sass/styles.scss */
.contact-us-details-heading:after {
  background: #f37b5c;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  bottom: -8px;
  transform: translateX(-50%);
  width: 62%;
}

/* line 403, ../sass/styles.scss */
.contact-us-details-contact {
  align-items: center;
  color: #9d9c9c;
  display: flex;
  flex-wrap: wrap;
  font: 30px/25px Ubuntu, sans-serif;
  margin-left: 11%;
  letter-spacing: -1.3px;
  width: 68%;
}
/* line 413, ../sass/styles.scss */
.contact-us-details-contact .sprite {
  align-content: center;
  margin-right: 42px;
  width: 28px;
}
/* line 426, ../sass/styles.scss */
.contact-us-details-contact:nth-of-type(1) {
  margin-top: 90px;
}
/* line 426, ../sass/styles.scss */
.contact-us-details-contact:nth-of-type(2) {
  margin-top: 45px;
}
/* line 426, ../sass/styles.scss */
.contact-us-details-contact:nth-of-type(3) {
  margin-top: 49px;
}
/* line 432, ../sass/styles.scss */
.contact-us-details-contact:nth-of-type(3) sup {
  vertical-align: super;
  font-size: 20px;
}
/* line 437, ../sass/styles.scss */
.contact-us-details-contact:nth-of-type(3) span {
  max-width: 255px;
  min-width: 78%;
}

/*feedback form*/
/* line 444, ../sass/styles.scss */
.contact-us-details-form {
  margin: 30px 0 0 0;
}

/* line 448, ../sass/styles.scss */
.contact-us-details-input {
  background: #f0f0f0;
  border: 1px solid #cac6c6;
  border-radius: 3px;
  box-sizing: border-box;
  color: #9d9c9c;
  display: block;
  font: 16px/25px Ubuntu, sans-serif;
  margin: 0 0 7px 4.1%;
  outline: none;
  padding: 13px  15px 12px;
  width: 93.9%;
}
/* line 461, ../sass/styles.scss */
.contact-us-details-input:nth-child(3) {
  height: 171px;
}

/* line 466, ../sass/styles.scss */
.contact-us-details-submit {
  background: #f27554;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font: 20px MyriadPro, sans-serif;
  outline: none;
  padding: 7px 0 13px 0;
  margin: 22px 0 0 49.8%;
  max-width: 314px;
  min-width: 60px;
  transform: translateX(-50.1%);
  text-indent: -2px;
  width: 65.4%;
}

/*footer*/
/* line 485, ../sass/styles.scss */
.footer {
  margin: 150px 0 0 0;
}

/* line 489, ../sass/styles.scss */
.footer-info {
  background: #f37b5c;
  box-sizing: border-box;
  color: #fef8f6;
  font: 18px/18px MyriadPro, sans-serif;
  height: 56px;
  margin-bottom: 95px;
  padding: 18px 0 0 0;
  text-align: center;
}

/*sprites*/
/* line 504, ../sass/styles.scss */
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

/* line 510, ../sass/styles.scss */
.sprite-arrow {
  background-position: -5px -5px;
  height: 27px;
  width: 24px;
}

/* line 516, ../sass/styles.scss */
.sprite-code {
  background-position: -99px -5px;
  height: 25px;
  width: 34px;
}

/* line 522, ../sass/styles.scss */
.sprite-mail {
  background-position: -142px -4px;
  height: 25px;
  transform: translateY(-4px);
  width: 28px;
}

/* line 529, ../sass/styles.scss */
.sprite-mark {
  background-position: -182px -5px;
  height: 33px;
  width: 24px;
}

/* line 535, ../sass/styles.scss */
.sprite-menu {
  background-position: -215px -5px;
  height: 25px;
  width: 33px;
}

/* line 541, ../sass/styles.scss */
.sprite-phone {
  background-position: -258px -5px;
  height: 26px;
  width: 24px;
}

/* line 547, ../sass/styles.scss */
.sprite-phone2 {
  background-position: -290px -2px;
  height: 32px;
  width: 28px;
}

/*helper classes*/
/* line 554, ../sass/styles.scss */
.color-orange {
  color: #f36e49;
}
