/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Ubuntu"; */
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
    src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

